.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 15px;
    background: #FD6E0A;
}